@charset "UTF-8";

//문자열변수
$mobile : "screen and (max-width:640px)";

body{overflow-x:hidden; 
  overflow-y:auto;}
#wrap{
  margin: 0 auto;
  width: 1520px;
  @media #{$mobile}{
    width: 650px;;
  }
  >header{
    position: relative;
    height: 50px;
    >.fix_bar{
      display: flex;
      position: fixed;
      background-color: #fff;
      padding: 15px 300px;
      @media #{$mobile}{
        padding: inherit;
      }
      >h1.logo{
        position: absolute;
        width: 120px;
        text-indent: -9999px;
        background-image: url(./../images/logo.svg);
        background-repeat: no-repeat;
          >a{
            display: block;
            height: 34px;
          }
      }//h1.logo
      .search_box{
        display: flex;
        position: relative;
        width: 347px;
        margin-left: 150px;
        // border: 1px solid #000; //임시
        @media #{$mobile}{
          width: 260px;
        }
      >
      .fixed-search-input{
        background: none;
        border: 1px solid #eee;
        width: 347px;
        height: 38px;

        @media #{$mobile}{
          width: 260px;
        }
        
      }
      >.search_ico{
        display:block;
        position: absolute;
        right: 3%;
        top: 25%;
        //button초기화시 필수 3가지 none
        background: none;
	      border:none;
       	outline:none;
        width: 20px;
        height: 20px;
        padding: 10px 0;
        text-indent: -9999px;
        background-image: url(./../images/search-icon-7008edd4f9aaa32188f55e65258f1c1905d7a9d1a3ca2a07ae809b5535380f14.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        
      }
      }//search_box

      >ul.mnu_box{
        width: 500px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: end;
        @media #{$mobile}{
          display: none;
        }
        >.mnu_box__li{
          padding: 0 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 38px;
          &:nth-child(1){position: relative;}
          &:nth-child(1)::after{
            display: inline-block;
            content: "";
            position: absolute;
            top:  calc(50% - 5px);
            right: 10px;
            width: 20px;
            height: 10px;
            background-image: url(./../images/select_arrow.png);
            background-repeat: no-repeat;
            background-size: contain;
          }
          
          >a{
            padding: 0 25px;
          >span{
            color: orange;
            

            
          }
        }
          >ol.store{
            display: none;
            position: absolute;
            width: 150px;
            padding: 15px 0;
            padding-left: 30px;
            background-color: #F8F9FA;
            border: 1px solid #878B93;
            border-radius: 10px;
          }
        }//.download__li
      }//ul.download
    }//fix_bar
  }//header
  >section{
    height: 100%;
    >.article_1{
      height: 700px;
      padding-top:  50px;
      background-color: #FAF7F3;
      >.article_1__flexcontainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        @media #{$mobile}{
          display: inherit;
        }
        >.txt_box_1{ 
          width: 30%;
          margin-left: 300px;
          margin-top: 200px;
          @media #{$mobile}{
            width: 100%;
            margin: initial;
            text-align: center;
          }
          >h2{
          margin-bottom: 20px;
          font-size: 48px;
          font-weight: 600;
        }
        >
        p{
          font-size: 13px;
        }
      }//txt_box_1
        >.frame{
          width: 70%;
          @media #{$mobile}{
              width: 600px;
          }
          >img{
            width: 90%;
          }
        }
      }
    }//article_1
    >.article_2{
      height: 700px;
      padding: 50px 0;
      background-color: #fff;
      >.article_2__flexcontainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        @media #{$mobile}{
            display: initial;
            display: flex;
            flex-direction: column-reverse;
          }
        >.txt_box_2{ 

          width: 50%;
          margin-top: 200px;
          @media #{$mobile}{
                padding: initial;
                margin: inherit;
                width: 550px;
                text-align: center;
            }
          >h2{
            margin-bottom: 20px;
          font-size: 48px;
          font-weight: 600;
        }
        >
        p{
          font-size: 16px;
        }
        >.txt_box_2__container{
          display: flex;
          @media #{$mobile}{
            justify-content: center;

        }
          >li{
            margin-top: 50px;
            margin-left: 10px;
            width: 220px;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            line-height: 50px;
            background-color: #F1F3F5;
            border: 1px solid #eeeeee;
            border-radius: 10px;
            @media #{$mobile}{
              padding: initial;
              margin: initial;
              margin-top: 30px;
              margin-left: 10px;
              width: 210px;
              text-align: center;
          }

            >a{
              display: block;
              padding: 0 20px;
              height: 50px;
              &:hover{
                background-color: #EAECEF;
              }
            }
          }
        }
      }//txt_box_2
        >.frame{
          margin-left: 300px;
          width: 50%;
          @media #{$mobile}{
            margin: initial;
            margin-left: 50px;
            width: 600px;
              }


          >img{
            width: 100%;
            @media #{$mobile}{
              width: 70%;
              text-align: center;
                }
          }
        }
      }
    }//article_2
    >.article_3{
      height: 700px;
      padding-top:  50px;
      background-color: #E8F3E7;
      @media #{$mobile}{
        height: 100%;
    }
      >.article_3__flexcontainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        @media #{$mobile}{
          display: initial;
        }
        >.txt_box_3{ 
          width: 40%;
          margin-left: 300px;
          margin-top: 200px;
          @media #{$mobile}{
            margin: initial;
            text-align: center;
            width: 100%;
          }
          >h2{
            margin-bottom: 20px;
          font-size: 48px;
          font-weight: 600;
        }
        >
        p{
          font-size: 16px;
        }
        
        >ul{
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 50px;
          @media #{$mobile}{
            justify-content: center;
            width: 650px;
        }
          >li{
            @media #{$mobile}{
              padding: 15px;
          }
            >ol{
              >li{
                font-size: 13px;
                text-indent: 2;
                &:nth-child(1){
                  padding: 10px 0;
                  font-weight: 600;
                  font-size: 15px;
                }
              }
            }
          }

        }//txt_box_3__ul

      }//txt_box_3
        >.frame{
          width: 70%;
          @media #{$mobile}{
            width: 100%;
            text-align: center;
        }
          >img{
            width: 70%;
            @media #{$mobile}{
              width: 50%;
              // text-align: center;
          }
            }
        }
      }
    }//article_3
    >.article_4{
      height: 700px;
      padding: 50px 0;
      background-color: #fff;
      @media #{$mobile}{
        height: 100%;
          }
      >.article_4__flexcontainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        @media #{$mobile}{
          display: initial;
          display: flex;
          flex-direction: column-reverse;
        }
        >.txt_box_4{ 
          width: 50%;
          margin-top: 200px;
          @media #{$mobile}{
            padding: initial;
            margin: inherit;
            width: 550px;
            text-align: center;
        }
          >h2{
            margin-bottom: 20px;
          font-size: 48px;
          font-weight: 600;
        }
        >
        p{
          font-size: 16px;
        }
        >.txt_box_4__container{
          display: flex;
          @media #{$mobile}{
            justify-content: center;

        }
          >li{
            margin-top: 50px;
            margin-left: 10px;
            width: 220px;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            line-height: 50px;
            background-color: #F1F3F5;
            border: 1px solid #eeeeee;
            border-radius: 10px;
            @media #{$mobile}{
              padding: initial;
              margin: initial;
              margin-top: 30px;
              margin-left: 10px;
              width: 220px;
              text-align: center;
          }
            >a{
              display: block;
              padding: 0 20px;
              height: 50px;
              &:hover{
                background-color: #EAECEF;
              }
            }
          }
        }
      }//txt_box_4
        >.frame{
          margin-left: 300px;
          width: 50%;
          @media #{$mobile}{
            margin: initial;
            margin-left: 50px;
            width: 600px;
              }
          >img{
            width: 100%;
            @media #{$mobile}{
              width: 70%;
              text-align: center;
                }
          }
        }
      }
    }//article_4 end

    .article_5{
      padding: 150px 0;
      height: 100%;
      background-color: #F8F9FA;
      @media #{$mobile}{
        display: none;
          }
        >h2{
          padding: 100px 0;
          font-size: 48px;
          text-align: center;
        }
        >.article_5__product_container{
          >ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            >li{
              width: 20%;
              height: 404px;
              margin: 0 2.5%;
              text-indent: -9999px;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center center ;
              transition: all 0.5s ease-in-out 0s;
              &:hover{transform: scale(1.05)}
              &:nth-child(1){background-image: url(./../images/product_1.png)}
              &:nth-child(2){background-image: url(./../images/product_2.png)}
              &:nth-child(3){background-image: url(./../images/product_3.png)}
              &:nth-child(4){background-image: url(./../images/product_4.png)}
              &:nth-child(5){background-image: url(./../images/product_5.png)}
              &:nth-child(6){background-image: url(./../images/product_6.png)}
              &:nth-child(7){background-image: url(./../images/product_7.png)}
              &:nth-child(8){background-image: url(./../images/product_8.png)}
                >a{
                  display: block;
                  height: 404px;
                }
            }
        }//.article_5__product_container end
      }
      >p{
        margin-top: 100px;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        text-decoration: underline;
      }//인기매물 더 보기
    }//.article_5 end
  }//section
  footer{
    height: 400px;
    padding: 100px 200px;
    background-color: #4A5056;
    @media #{$mobile}{
      padding: initial;
      padding: 50px;
      height: 100%;
        }
    >.footer_container{
      display: flex;
      padding-bottom: 50px;
      border-bottom: 1px solid #5C6267;
      @media #{$mobile}{
        flex-direction: column;
          }
      >h2{
        width: 230px;
        height: 37px;
        text-indent: -9999px;
        background-image: url(./../images/footer_logo.svg);
        background-repeat: no-repeat;
      }
      >ul{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        @media #{$mobile}{
          width: 650px;
          flex-direction: column;
            }
        >li{
          font-weight: 500;
          font-size: 18px;
          line-height: 2.5;
          >a{
            color: #fff;
          }
          >ol{
            >li{
            font-weight: 200;
              >a{
                color: #AEB5BC;
                @media #{$mobile}{
                  color: #fff;
                    }
              }
            }
          }
        }
          
      }
    }//.footer_container end
    >address{
      margin-top: 25px;
      >.footer_container_2{
        position: relative;
        @media #{$mobile}{
          width: 450px;
            }
        >p {
          color: #AEB0A9;
          font-size: 15px;

          &:nth-child(3){
            margin-top: 10px;
            font-size: 15px;
          }
          >a{
            color: #AEB0A9;
            font-size: 13px;
          }
        }
        >ul{
          margin-top: 25px;
          display: flex;
          justify-content: space-between;
          width: 250px;
          @media #{$mobile}{
            width: 400px;
              }
          

          >li{
            margin-left: 0 30px;
            width: 24px;
            text-indent: -9999px;
            background-repeat: no-repeat;
            background-size: contain;
            &:nth-child(1){background-image: url(./../images/footer_facebook.svg);}
            &:nth-child(2){background-image: url(./../images/footer_insta.svg);}
            &:nth-child(3){background-image: url(./../images/footer_blog.svg);}
            &:nth-child(4){background-image: url(./../images/footer_ico.png);
            margin-left: 15px;}
            >a{
              display: block;
              height: 24px;
            }
          }
        }//ul end
        >
          #global-links-select{
            position: absolute;
            left: 25%;
            bottom: 1%;
            margin-left: 6px;
            text-decoration: underline;
            text-underline-position: under;
            vertical-align: top;
            background: #495057;
            color: #ADB5BD;
            font-size: 16px;
            line-height: 24px;
            border: none;
            outline: none;
            appearance: none; //체크표시 제거
            @media #{$mobile}{
              position: initial;
              position: absolute;
              left: 90%;
                }
          }
      }//.footer_container_2 end
      .cpyright{
        margin-top: 15px;
        color: #AEB5BC;
        font-size: 16px;
      }
    }//address end
  }//footer end
}//#wrap end